.App {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#spinner {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 120%;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

#counterLabel {
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 15px;
}